<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @*<script src="~/Scripts/modernizr-2.8.3.js"></script>*@
    @*<script src="~/Style/js/lay-config.js"></script>*@
    <script src="~/Style/lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>  
    <script src="~/Style/lib/layui-v2.6.3/layui.js"></script>
    <link href="~/Style/css/public.css" rel="stylesheet" />
    <link href="~/Style/css/themes/default.css" rel="stylesheet" />
    <link href="~/Style/lib/layui-v2.6.3/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
@RenderSection("Scripts", false)